ul{
    list-style: none;
    padding:0;
}
.list_posts li, .login_form, .signup_form,.create_post_form{
    padding: 15px;
    margin: 5px 0;
    display: block;
    background-color: #C4FFE6;
}
.list_posts li a{
    padding: 15px;
}
body{
    background-color: #EDE476;
}
h1, h2{
    color: white;
    padding-left: 15px;
}
.row{
    margin:0;
}
.navbar {
    border-radius: 0;
}
.step-links{
    padding: 15px 0;
    display: block;
    background-color: #38DF00;
    
}
.pagination_button{
    padding: 15px 20px;
}
.current{
    padding: 15px;
}
.post_content{
    padding: 15px;
    margin: 5px 0;
    display: block;
    background-color:#80771A;
}
.errorlist li, .error{
    color: darkred;
}
.edit_post{
    color: darkred;
    font-style: italic;
}
.edit_post:hover{
    color: red;
}
label {
width: 100px;
}