{% extends 'rango/base.html' %}
{% load static %}
{% block title %} About Me!!! {% endblock %}
{% block body %}
	<div class="page-header">
		<h1>About</h1>
	</div>
	<div>
		<p></strong>About tango with django</p>
		<img  width="90" height="100" src="{% static "image/bg1.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
	</div>
{% endblock %}