{% extends 'rango/base.html' %}
{% load static %}
{% block title %}
	<h1>Add a page!</h1>
{% endblock %}
{% block body %}
{% if category %}

	<form role="form"  id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">
		<h2 class="form-signin-heading">Add a Page to <a href="/rango/category/{{category.slug}}/"> {{ category.name }}</a></h2>
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br/>
			{{ field }}<br/>
		{% endfor %}

		<br/>
		<button class="btn btn-primary" type="submit" name="submit">Add Page</button>
	</form>
{%  else %}
	<p>This is category does not exist.</p>
{%  endif %}
{% endblock %}