{% extends 'rango/base.html' %}
{% load static %}
{% block title %} {{category_name}} {% endblock %}
{% block body %}
	<h1>{{ category_name }}</h1>
    {% if category %}
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{% url 'goto' %}?page_id=={{page.id}}">{{page.title}}</a>
                    {% if page.views > 1 %}
                        ({{page.views}} views)
                    {% elif page.views == 1 %}
                        ({{page.views}} views)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <strong id="like_count">{{ category.likes }}</strong>  people like this category
        {% if user.is_authenticated %}
            <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Like  
            </button><br>
                <a href="/rango/category/{{category.slug}}/add_page/">Add a Page</a><br>
            <button data-catid="{{category.id}}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add btn btn-mini btn-info" type="button">Add</button>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}
	
{% endblock %}<a href="{% url 'add_page' category_name_slug %}">Add page</a>