{% extends 'rango/base.html' %}
{% load static %}
{% block side_block %}

{% if cats %}
	<ul class='nav nav-sidebar'>
		{% for c in cats %}
			{% if c == act_cat %} 
				<li class="active" > 
			{% else %} 
				<li>
			{% endif %}
			<a href="{% url 'category'  c.slug %}">{{ c.name }}</a></li>
		{% endfor %}
{% else %}
		<li><strong>There are not category present.</strong></li>
	</ul>
{% endif %}
{% endblock %}