{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<div class="page-header">

		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... hello world!</h1>
		</div>
	{% endif %}
<button id="about-btn" class='btn btn-danger'> Click Me - I'm Javascript on Speed</button>
<button class='outh btn btn-default'>Click my alert!</button>
<p class='col_p'>This is a example</p>

<p class='col_p'>This is another example</p>

<div class="row">
    	<h3 class="panel-title">Categories</h3>
		{% if categories %}
			<ul>
				{% for category in categories %}
					<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
				{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}	
	
	
	
		<h4 class="panel-title">Pages</h4>
			{% if pages %}
				<ul>
					{% for page in pages %}
						<li><a href="{{page.url}}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
	
</div>
<p> visits: {{ visits }}</p>


{% endblock %}


	



	
		
	