{% extends 'rango/base.html' %}
{% load static %}
{% block title %}Register with rango! {% endblock %}
{% block body %}
	{% if registered %}
		Rango says: <strong>thanks for registering!</strong>
		<a href="/rango/">Return to home page</a>
	{% else %}
		Rango says: <strong>register here!</strong>
		<form id='user_form' method='post' action='.'>
			{% csrf_token %}
			<div class='form-group'>
				{{ user_form.as_p}}
			</div>
			{{profile_form.as_p}}

			<input type='submit' name='submit' value='Register'>
		</form>
	{% endif %}
{% endblock %}