{% extends 'form_base_site.html' %}
{% load static %}
{% block custom_stylesheets %}
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'red/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'red/css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'red/css/red-scheme.css' %}">
	<link rel="shortcut icon" href="{% static 'red/images/favicon.ico' %}" type="image/x-icon" />
{% endblock %}
{% block head %}
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="#">Category</a>
				<ul>
					<li><a href="blog.html">Blog Standard</a></li>
					<li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="#">visit templatemo</a></li>
				</ul>
            </li>
            <li><a href="archives.html">Archives</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="/">
							<img src="{% static 'red/images/logo.png' %}" alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href="/">Home</a></li>
					            <li><a href="#">Category</a>
									<ul>
										{% for category in category_all %}
										<li><a href="{% url 'tform.views.category' category.id %}">
											{{ category.name }}
										</a></li>
										{% endfor %}
									</ul>
					            </li>
					            <li><a href="contact.html">Contact</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
{% endblock %}

{% block splash %}
	<div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Archives</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Archives</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->
{% endblock %}

{% block custom_script %}
	<script src="{% static 'red/js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'red/js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'red/js/min/plugins.min.js' %}"></script>
	<script src="{% static 'red/js/min/medigo-custom.min.js' %}"></script>
{% endblock %}

{% block footer %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2015 Max company</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->
{% endblock %}