{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
	{% for blog in blogs_all %}
		<div class="container">
			<div class="row">
				<div class="col-md-8 blog-posts">
					<div class="row">
						<div class="col-md-12">
							<div class="post-blog">
								<div class="blog-image">
									<a href="{% url 'tform.views.blogs' blog.id %}">
										<img src="#" alt="To be continue">
									</a>
								</div>
								<div class="blog-content">
									<span class="meta-date"><a href="#">{{ blog.date }}</a></span>
									<span class="meta-comments"><a href="#">To by continue...</a></span>
									<span class="meta-author"><a href="#">Author</a></span>
									<h3><a href="{% url 'tform.views.blogs' blog.id %}">{{ blog.title }}</a></h3>
									<p>
										{{ blog.body }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="container">
		<p><a href="{% url 'tform.views.create_blog' %}" role="button" class="mainBtn">Create new blog</a></p>
	</div>
{% endblock %}