{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">
						<div class="contact-wrapper">
							<h3>Create blog form</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="contact-form">
							<div class="widget-inner">
								<form action="." method="post">
									<div class="row">
										<div class="col-md-6">
											<p>
												Category:
												<br>
												{{ form.category }}
											</p>
										</div>
										<div class="col-md-6">
											<p>
												Title:
												<br>
												{{ form.title }}
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p>
												{{ form.body }}
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p>
												<button type="submit" class="mainBth">Save</button>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
