{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
	<div class="row col-md-6">
		<form action="." method="POST">
			<div class="row" style="padding:20px; margin:10px;">
				<label for="city">City</label>
				<input type="text" name="city" value="">
			</div>
			<div class="row" style="padding:20px; margin:10px;">
				<label for="phone">Phone</label>
				<input type="text" name="phone" value="">
			</div>
			<div class="row" style="padding:20px; margin:10px;">
				<button type="submit" class="btn btn-warning">SAVE!</button>
			</div>
		</form>
	</div>
{% endblock %}