{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
    {% for profile in data_profile %}
        <div class="row col-md-12" style="margin:10px;">
            <div class="row">
                <h2>City :{{ profile.city }}</h2>
            </div>
            <div class="row">
                <h2>Phone :{{ profile.phone }}</h2>
            </div>
        </div>
    {% endfor %}
    <div class="row col-md-12" style="margin:10px;">
        <h3><a href="{% url 'tform.views.edit_profile' %}">Edit</a></h3>
    </div>

{% endblock %}