{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
	<div class="row col-md-8">
		<div class="row col-md-4">
			<h5>Username: {{ user.username }}</h5>
			<h5>First name: {{ user.first_name }}</h5>
			<h5>last name: {{ user.last_name }}</h5>
			<h5>email: {{ user.email }}</h5>
		</div>
		<div class="row col-md-4">
			{% for users in user_data %}
			<h5>Status: {{ users.status }} </h5>
			<h5>Phone: {{ users.phone }} </h5>
			<h5>Interest: {{ users.interest }} </h5>
			{% endfor %}
		</div>
		<div class="row">
			<!--<a href="{% url 'tform.views.edit_user_profile'  %}" role='button' class="btn btn-danger">Edit</a> -->
		</div>
	</div>
	
{% endblock %}