{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
    {% for blog in blogs_all %}
        <div class="row" style="padding:10px;">
            <div style="margin:10px;">
                <h1>{{ blog.title }}</h1>
                <small>{{ blog.body }}</small>
                <strong>{{ blog.date }}</strong>
            </div>
        </div>
    {% endfor %}

    <div class="row" style="padding:10px;">
        <div style="margin:10px;">
        {% for comment in comments_all %}
            <strong>{{ comment.name }}</strong>
            <p>{{ comment.body }}</p>
        {% endfor %}
        </div>
    </div>
    
    <div>
        <h2>Add comment</h2>
        {% for blog in blogs_all %}
        <form action="/comment/{{ blog.id }}/" method="post" style="padding:20px;">
            <div class="row" style="margin:20px;">
                {% endfor %}
                {{ form }}
            </div>
            <div style="margin:25px;">
                <button type="submit">save</button>
            </div>
        </form>
    </div>
{% endblock %}