{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
    <form action="/signup/" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type='password' name="password1" id="password1">
        </div>
        <div>
            <label for="password">Password</label>
            <input type='password' name="password2" id="password2">
        </div>
        <div>
            {{ profile_form }}
        </div>
        <div>
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </form>
{% endblock %}