{% extends 'common/base_site.html' %}
{% load static %}
{% block body %}
    <form method="post" action="/signin/">
        <div style="margin:10px">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div style="margin:10px">
            <label for="password">Password</label>
            <input type='password' name="password" id="password">
        </div>
        <div style="margin:10px">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </form>
{% endblock %}