<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block main_stylesheets %}{% endblock %}
    <!-- END STYLESHEETS FOR THE APPS -->

    <!-- CUSTOM STYLESHEETS -->
    {% block custom_stylesheets %}{% endblock %}
    <!-- END CUSTOM STYLESHEETS -->
</head>
<body>
	{% block head %}{% endblock %}
    {% block splash %}{% endblock %}
	{% block body %}{% endblock %}
    {% block custom_script %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>